<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">
	<display-name>ServiceCall</display-name>

	<filter>
		<filter-name>ServletFilter</filter-name>
		<filter-class>com.lab.call.ServletFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>ServletFilter</filter-name>
		<url-pattern>/service-call</url-pattern>
	</filter-mapping>


	<servlet>
		<servlet-name>ServiceCall</servlet-name>
		<servlet-class>com.lab.call.ServiceCall</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ServiceCall</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>



</web-app>  